<body>
    <header></header>
    <main>
        <div>
            <div class="metadata">
                <div>
                    <div>date</div>
                    <div>{{date}}</div>
                </div>
                <div>
                    <div>version</div>
                    <div>{{version}}</div>
                </div>
                <div>
                    <div>code</div>
                    <div>{{code}}</div>
                </div>
                <div>
                    <div>link</div>
                    <div>{{link}}</div>
                </div>
                <div>
                    <div>enable-form</div>
                    <div>{{enable-form}}</div>
                </div>
                <div>
                    <div>disable-license-agreement</div>
                    <div>{{disable-license-agreement}}</div>
                </div>
                <div>
                    <div>disable-terms-of-use</div>
                    <div>{{disable-terms-of-use}}</div>
                </div>
                <div>
                    <div>title-de</div>
                    <div>{{title-de}}</div>
                </div>
                <div>
                    <div>title-en</div>
                    <div>{{title-en}}</div>
                </div>
                <div>
                    <div>title-es</div>
                    <div>{{title-es}}</div>
                </div>
                <div>
                    <div>title-fr</div>
                    <div>{{title-fr}}</div>
                </div>
                <div>
                    <div>title-it</div>
                    <div>{{title-it}}</div>
                </div>
                <div>
                    <div>title-ja</div>
                    <div>{{title-ja}}</div>
                </div>
                <div>
                    <div>title-ko</div>
                    <div>{{title-ko}}</div>
                </div>
                <div>
                    <div>title-zh</div>
                    <div>{{title-zh}}</div>
                </div>
                <div>
                    <div>product-de</div>
                    <div>{{product-de}}</div>
                </div>
                <div>
                    <div>product-en</div>
                    <div>{{product-en}}</div>
                </div>
                <div>
                    <div>product-es</div>
                    <div>{{product-es}}</div>
                </div>
                <div>
                    <div>product-fr</div>
                    <div>{{product-fr}}</div>
                </div>
                <div>
                    <div>product-it</div>
                    <div>{{product-it}}</div>
                </div>
                <div>
                    <div>product-ja</div>
                    <div>{{product-ja}}</div>
                </div>
                <div>
                    <div>product-ko</div>
                    <div>{{product-ko}}</div>
                </div>
                <div>
                    <div>product-zh</div>
                    <div>{{product-zh}}</div>
                </div>
                <div>
                    <div>type-de</div>
                    <div>{{type-de}}</div>
                </div>
                <div>
                    <div>type-en</div>
                    <div>{{type-en}}</div>
                </div>
                <div>
                    <div>type-es</div>
                    <div>{{type-es}}</div>
                </div>
                <div>
                    <div>type-fr</div>
                    <div>{{type-fr}}</div>
                </div>
                <div>
                    <div>type-it</div>
                    <div>{{type-it}}</div>
                </div>
                <div>
                    <div>type-ja</div>
                    <div>{{type-ja}}</div>
                </div>
                <div>
                    <div>type-ko</div>
                    <div>{{type-ko}}</div>
                </div>
                <div>
                    <div>type-zh</div>
                    <div>{{type-zh}}</div>
                </div>
                <div>
                    <div>marketing-content-de</div>
                    <div>{{marketing-content-de}}</div>
                </div>
                <div>
                    <div>marketing-content-en</div>
                    <div>{{marketing-content-en}}</div>
                </div>
                <div>
                    <div>marketing-content-es</div>
                    <div>{{marketing-content-es}}</div>
                </div>
                <div>
                    <div>marketing-content-fr</div>
                    <div>{{marketing-content-fr}}</div>
                </div>
                <div>
                    <div>marketing-content-it</div>
                    <div>{{marketing-content-it}}</div>
                </div>
                <div>
                    <div>marketing-content-ja</div>
                    <div>{{marketing-content-ja}}</div>
                </div>
                <div>
                    <div>marketing-content-ko</div>
                    <div>{{marketing-content-ko}}</div>
                </div>
                <div>
                    <div>marketing-content-zh</div>
                    <div>{{marketing-content-zh}}</div>
                </div>
                <div>
                    <div>disclaimer-content-de</div>
                    <div>{{disclaimer-content-de}}</div>
                </div>
                <div>
                    <div>disclaimer-content-en</div>
                    <div>{{disclaimer-content-en}}</div>
                </div>
                <div>
                    <div>disclaimer-content-es</div>
                    <div>{{disclaimer-content-es}}</div>
                </div>
                <div>
                    <div>disclaimer-content-fr</div>
                    <div>{{disclaimer-content-fr}}</div>
                </div>
                <div>
                    <div>disclaimer-content-it</div>
                    <div>{{disclaimer-content-it}}</div>
                </div>
                <div>
                    <div>disclaimer-content-ja</div>
                    <div>{{disclaimer-content-ja}}</div>
                </div>
                <div>
                    <div>disclaimer-content-ko</div>
                    <div>{{disclaimer-content-ko}}</div>
                </div>
                <div>
                    <div>disclaimer-content-zh</div>
                    <div>{{disclaimer-content-zh}}</div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
